.accent-bg-mixin {
  color: #fff;
  background-color: #2cd3b4;
}
.accent-gradient .accent-bg-mixin {
  background: #2cd3b4;
  background: -webkit-linear-gradient();
  background: linear-gradient();
}
.solid-bg-mixin {
  background-color: #f6f6f6;
}
.header-color {
  color: #3a3a3a;
}
.dt-mega-parent .sidebar-content .widget .header-color {
  color: #333333;
}
#main .sidebar-content .header-color {
  color: #3a3a3a;
}
.footer .header-color {
  color: #ffffff;
}
.color-base-transparent {
  color: #bbbbbb;
}
.sidebar-content .color-base-transparent {
  color: rgba(126,126,126,0.5);
}
.footer .color-base-transparent {
  color: rgba(153,157,159,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(58,58,58,0.13);
  box-shadow: inset 0px 0px 0px 1px rgba(58,58,58,0.13);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container,
.dt-team-shortcode.content-bg-on .team-container {
  background-color: #f6f6f6;
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(58,58,58,0.13);
  box-shadow: inset 0px 0px 0px 1px rgba(58,58,58,0.13);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.dt-team-shortcode .team-content {
  font-size: 13px;
  line-height: 25px;
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #3a3a3a;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #3a3a3a;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #3a3a3a;
  font:   bold 14px / 24px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dt-team-shortcode .team-author p {
  font:    14px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #2cd3b4;
}
.accent-gradient .dt-team-shortcode .team-author p {
  background: -webkit-linear-gradient();
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .dt-team-shortcode .team-author p {
    color: #2cd3b4;
  }
}
.dt-mega-parent .sidebar-content .widget .team-author p {
  color: #333333;
}
.sidebar-content .team-author p {
  color: #3a3a3a;
}
.footer .team-author p {
  color: #ffffff;
}
.testimonial-vcard .text-secondary {
  color: #3a3a3a;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-secondary {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-secondary {
  color: #3a3a3a;
}
.footer .testimonial-vcard .text-secondary {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  font-size: 13px;
  line-height: 25px;
  font-weight: normal;
  color: #2cd3b4;
}
.accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  background: -webkit-linear-gradient();
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
    color: #2cd3b4;
  }
}
.dt-testimonials-shortcode .more-link {
  color: #2cd3b4;
}
.testimonial-vcard .text-primary {
  color: #3a3a3a;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-primary {
  color: #3a3a3a;
}
.footer .testimonial-vcard .text-primary {
  color: #ffffff;
}
.testimonial-vcard .text-primary * {
  color: #3a3a3a;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary * {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-primary * {
  color: #3a3a3a;
}
.footer .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-primary {
  font: normal  normal 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.team-author-name,
.team-author-name a {
  color: #3a3a3a;
  font: normal  normal 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.content .team-author-name a:hover {
  color: #2cd3b4;
}
.accent-gradient .content .team-author-name a:hover {
  background: -webkit-linear-gradient();
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .content .team-author-name a:hover {
    color: #2cd3b4;
  }
}
.widget .team-author-name,
.widget .team-author-name a {
  font:   bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #3a3a3a;
}
.dt-mega-parent .sidebar-content .widget .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .widget .team-author-name a {
  color: #333333;
}
#main .sidebar-content .widget .team-author-name,
#main .sidebar-content .widget .team-author-name a {
  color: #3a3a3a;
}
.footer .widget .team-author-name,
.footer .widget .team-author-name a {
  color: #ffffff;
}
.team-author-name,
.team-author-name a {
  color: #3a3a3a;
}
.dt-mega-parent .sidebar-content .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .team-author-name a {
  color: #333333;
}
#main .sidebar-content .team-author-name,
#main .sidebar-content .team-author-name a {
  color: #3a3a3a;
}
.footer .team-author-name,
.footer .team-author-name a {
  color: #ffffff;
}
.rsTitle {
  font:   bold 52px / 62px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.rsDesc {
  font:   bold 34px / 44px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:   bold 34px / 44px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   bold 24px / 34px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:   bold 24px / 34px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   bold 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:   bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    13px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    13px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    13px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #2cd3b4 !important;
}
.slider-content .owl-dot:not(.active):not(:hover),
.slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(126,126,126,0.35);
  box-shadow: inset 0 0 0 2px rgba(126,126,126,0.35);
}
.slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(126,126,126,0.35);
  box-shadow: inset 0 0 0 20px rgba(126,126,126,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):not(:hover),
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(51,51,51,0.35);
  box-shadow: inset 0 0 0 2px rgba(51,51,51,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(51,51,51,0.35);
  box-shadow: inset 0 0 0 20px rgba(51,51,51,0.35);
}
.sidebar .slider-content .owl-dot:not(.active):not(:hover),
.sidebar .slider-content .owl-dot:not(.active):hover,
.sidebar-content .slider-content .owl-dot:not(.active):not(:hover),
.sidebar-content .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(126,126,126,0.35);
  box-shadow: inset 0 0 0 2px rgba(126,126,126,0.35);
}
.sidebar .slider-content .owl-dot.active,
.sidebar-content .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(126,126,126,0.35);
  box-shadow: inset 0 0 0 20px rgba(126,126,126,0.35);
}
.footer .slider-content .owl-dot:not(.active):not(:hover),
.footer .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(153,157,159,0.35);
  box-shadow: inset 0 0 0 2px rgba(153,157,159,0.35);
}
.footer .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(153,157,159,0.35);
  box-shadow: inset 0 0 0 20px rgba(153,157,159,0.35);
}
